<footer>
    <div>
        <ul>
            <li><a>About Us</a></li>
            <li><a>GitHub</a></li>
            <li><a>Documentation</a></li>
        </ul>
    </div>
    <div>
        <p>
            COPYRIGHT SELECT STAR 2019
        </p>
    </div>
</footer>