<nav class="navbar navbar-expand-md navbar-light bg-light rounded" >
    <div class="navbar-brand">
        <a class="logo-link" href="/index.html">
            <img class="logo-link" src="/icon_color.png">
        </a>
    </div>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#ssp-navlist"
        aria-controls="ssp-navlist" aria-expanded="true"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="ssp-navlist" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="/players.html">Players</a></li>
            <li class="nav-item active"><a class="nav-link" href="/teams.html">Teams</a></li>
            <li class="nav-item active"><a class="nav-link" href="/games.html">Games</a></li>
            <li class="nav-item active"><a class="nav-link" href="/mascots.html">Mascots</a></li>
            <li class="nav-item active"><a class="nav-link" href="/positions.html">Positions</a></li>
        </ul>
    </div>
</nav>