<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="A web app to find basketball player stats.">
    <meta name="application-name" content="Sports Stats Plus">
    <meta name="author" content="Select Star">
    <meta name="keywords" content="Sports,Database,Basketball,Free">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Third Party -->
    <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous"
    >
    <!-- Global CSS -->
    <link href="style/style.scss" rel="stylesheet">
    <!-- Global JS -->

    
    <title>Sports Stats Plus</title>
</head>