<div class="mascot-box  col-md-3 result-box">
    <h3>{{animal}}</h3>
    <ul>
        <li>Team: {{team}}</li>
        <!--<li>Color: {{color}}</li>-->
        <li>Actor Name: {{name}}</li>
    </ul>
    <div onclick="removeMascot()">|Remove Mascot|</div>
</div>