<div class="mascot-box">
    <h3><a href="mascot.html">{{name}}</a></h3>
    <ul>
        <li>Team: {{team}}</li>
        <li>Color: {{color}}</li>
        <li>Animal: {{animal}}</li>
    </ul>
    <div onclick="removeMascot()">|Remove Mascot|</div>
</div>