# Tristan Hilbert
# 4/3/2019
# Simple Git ignore for a nodeJs Project
#
# Added includes for possible VScode Stuff


# Additional Node Blocks
**/node_modules/**
**/package-lock.json

# This was suggested in the example gitignore
**/credentials.js

**/.vscode/**

# Weird FTP Directories that appear for me
**/.AppleDouble/**
**/AppleDouble/**

# Do not share details of Database
**/dbcon.js
