<!DOCTYPE html>
<html lang="en">

    {{> head}}

    <body>
    {{> header}}

    <main id="main-container" class="container">
    {{{ body }}}
    </main>
    
    {{> footer}}
    </body>
    
</html>