/*
 * Main Global Style Document
 *
 * Tristan Hilbert
 * This will be put into the main handlebars layout
 * Don't overload this, but at the same time keep it broad.
 */




@import "partials/base";
@import "partials/header";


/* general styles */
.score-list{
    margin-left: 15px;
}

.game-row h4{
    margin: 0px 10px;
}

.game-row ul,h3,h4,div{
    margin-bottom: 15px;
}

.game-row {
    margin-bottom: 10px;
}

.insert-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.insert-form label{
    margin-top: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    background-color: #7e8d94;
    border-radius: 40px;
    padding: 4px;
    margin-top: 20px;
}

.button:hover{
    background-color: #d5f2ff;
    cursor: pointer;
}

li{
    list-style: none;
    margin: 4px;
}

.removal{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #ffac31;
    padding: 8px;
}

.removal:hover{
    background-color: #FF2000;
}

/* Teams Styles */
.team-row h3{
    display: block;
}
.team-row ul{
    display: block;
}

.row{
    justify-content: space-around;
    align-items: center;
}

.team-box .coach-attr{
    display: inline-block;
    border-radius: 20px;
    border: solid 2px #5a5a5a;
    padding: 3px;
}

.team-box .coach-attr:hover{
    border: solid 2px #c8dbdb;
    cursor: pointer;
}

/* Game Styles */
.winner-text{
    text-decoration: underline;
}

.score-list{
    font-size: 18px;
    font-weight: 600;
}