/*
 * Main Global Style Document
 *
 * Tristan Hilbert
 * This will be put into the main handlebars layout
 * Don't overload this, but at the same time keep it broad.
 */




@import "partials/base";
@import "partials/header";
@import "partials/team";
@import "partials/game";
@import "partials/positions";


/* general styles */
.score-list{
    margin-left: 15px;
}

.game-row h4{
    margin: 0px 10px;
}

.game-row ul,h3,h4,div{
    margin-bottom: 15px;
}

.game-row {
    margin-bottom: 10px;
}

.insert-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.insert-form label{
    margin-top: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    background-color: #7e8d94;
    border-radius: 40px;
    padding: 4px;
    margin-top: 20px;
}

.button:hover{
    background-color: #d5f2ff;
    cursor: pointer;
}

li{
    list-style: none;
    margin: 4px;
}

%remove {
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #ffac31;
    padding: 8px;
}

.removal{
    @extend %remove;
    display: flex;
}

.removal-inline{
    @extend %remove;
    display: inline-flex;
}

.removal:hover, .removal-inline:hover{
    background-color: #FF2000;
    cursor: pointer;
}