<!-- Or you can use the src directory -->
<!-- <script src="src/game_script.js" defer></script> --> 
<script src="game_script.js" defer></script>

<div>
    <form id="ga-search" onsubmit="search()" onsearch="search()">
        <input type="text" name="searchbar" value="Search Games">
        <span class="button search-submit" onclick="search()">Search!</span> 
    </form>
</div>
<div id="search-results" class="results">
    {{#each game}}
        {{> single-game}}
    {{/each}}
</div>
<div>
    <h2>New Game!</h2>
    <form id="game-insert-form">
        <label>Game Date</label>
        <input type="date" name="date">
        <label>City</label>
        <input type="text" name="loc" value="Boston, MA">
        <label>Home Team Name</label>
        <input type="text" name="h-team" value="Boston Celtics">
        <label>Visiting Team Name</label>
        <input type="text" name="v-team" value="Los Angelos Lakers">
        <label>Visiting Team Location</label>
        <input type="text" name="v-team-loc" value="Los Angelos, CA">
        <label>Home Team Score</label>
        <input type="number" name="score-h" value="5">
        <label>Visiting Team Score</label>
        <input type="number" name="score-v" value="15">
        <label>MVP First Name</label>
        <input type="text" name="mvp-fname" not-necessary="truly" value="Gary">
        <label>MVP Last Name</label>
        <input type="text" name="mvp-lname" not-necessary="truly" value="Luong">
        <label>MVP Jersey Number</label>
        <input type="number" name="mvp-jersey" not-necessary="truly" value="1">
        <span id="game-insert-response"></span>
        <div class="button" onclick="insertGame()">|Submit|</div>
    </form>
</div>