<!-- Script Goes Here -->
<main>
    <div>
        <h1>Welcome to Sports Stats Plus</h1>
    </div>
    <div>
        <p>Most Recent Games</p>
        <ul>
            <li>Location: </li>
            <li>Home Team: </li>
            <li>Visiting Team:</li>
        </ul>
    </div>
    <div>
        <p>Search a Game or a Team</p>
        <form>
            <input type="text" name="searchbar" defaultValue="Search...">
            <div class="button search-submit" onclick="search()">Search!</div> 
        </form>
    </div>
</main>

