<!-- Or you can use the src directory -->
<!-- <script src="src/index_script.js" defer></script> --> 
<script src="index_script.js" defer></script>

<div>
    <h1>Welcome to Sports Stats Plus</h1>
</div>
<div id="mrg-container">
    <h3>Most Recent Game</h3>
    <ul id="mrg-list">
        <li>Date: <span fieldname="date">{{MRG.date}}</span></li>
        <li>Location: <span fieldname="location">{{MRG.location}}</span></li>
        <li>Home Team: <span fieldname="home">{{MRG.home}}</span></li>
        <li>Visiting Team: <span fieldname="visit">{{MRG.visit}}</span></li>
    </ul>
    <div class="button" onclick="refresh_mrg()">
        <p class="button-text">Refresh MRG</p>
    </div>
</div>
<div>
    <p>Search a Team Name</p>
    <form id="gt-search" onsubmit="search()" onsearch="search()">
        <input type="text" name="searchbar" value="Los Angelos Lakers">
        <span class="button search-submit" onclick="search()">Search!</span> 
    </form>
    <div id="search-results" class="results"></div>
</div>

