<!-- Or you can use the src directory -->
<!-- <script src="src/mascot_script.js" defer></script> --> 
<script src="mascot_script.js" defer></script>
<h2>All Mascots</h2>
<div id="mascot-list" class="all-mascots row">
    {{#each mascot}}
        {{> single-mascot}}
    {{/each}}
</div>
<div>
    <h2>New Mascot!</h2>
    <form id="mascot-insert">
        <label>Name</label>
        <input type="text" name="mascot-name" value="Bear Grillz">
        <label>Animal | Costume</label>
        <input type="text" name="mascot-anim" value="Shark">
        <label>Team Name</label>
        <input type="text" name="mascot-team" value="Portland Trailblazers">
        <label>Team Location</label>
        <input type="text" name="mascot-team-loc" value="Portland, OR">
    </form>
    <div class="button" onclick="insertMascot()">|Submit|</div>
    <div id="insert-response"></div>
</div>