<h1>MASCOT DETAILS</h1>
<form>
    <label>New Attachment Team</label>
    <input type="text" name="mascot-team" value="Cavaliers">
    <label>Team City</label>
    <input type="text" name="mascot-city" value="Boston">
</form>
<div onClick="removeTeam()">Remove Team?</div>