<h2>All Mascots</h2>
<div class="all-mascots row">
    {{#each mascot}}
        {{> single-mascot}}
    {{/each}}
</div>
<div class="hidden">
    <h2>New Mascot!</h2>
    <form>
        <label>Name</label>
        <input type="text" name="mascot-name" value="Bear Grillz">
        <label>Animal | Costume</label>
        <input type="text" name="mascot-anim" value="Shark">
        <label>Team Name</label>
        <input type="text" name="mascot-team" value="Cavaliers">
    </form>
</div>