<!-- Or you can use the src directory -->
<!-- <script src="src/player_script.js" defer></script> --> 
<script src="player_script.js" defer></script>

<div>
    <form id="pl-search" onsubmit="search()" onsearch="search()">
        <input type="text" name="searchbar" value="Search Player">
        <span class="button search-submit" onclick="search()">Search!</span> 
    </form>
</div>
<div id="search-results" class="results row">
    {{#each player}}
        {{> single-player}}
    {{/each}}
</div>
<div class="player-form">
    <h2>New Player!</h2>
    <form id="pl-insert">
        <label>Name</label>
        <input type="text" name="player-name" value="Wilson Chandler">
        <label>Jersey Number</label>
        <input type="number" name="player-jersey" value="22">
        <label>Career Games</label>
        <input type="number" name="player-games" value="0">
        <label>Career Points</label>
        <input type="number" name="player-points" value="0">
        <label>Positions List</label>
        <input type="text" name="player-positions" value="Point Guard, ...">
    </form>
    <span class="button insert-submit" onclick="insertPlayer()">Submit!</span>
</div>