<h1>PLAYER DETAILS</h1>
<p>Player Details Here!</p>
<div class="position-remove-button" onclick="removePosition()"></div>
<div class="position-update form">
    <h2>Add a position</h2>
    <form>
        <input type="text" name="position-name" value="Point Guard">
    </form>
</div>