<!-- Or you can use the src directory -->
<!-- <script src="src/game_script.js" defer></script> --> 
<script src="team_script.js" defer></script>

<div>    
    <form class="search-form" id="team-search" onsubmit="search()" onsearch="search()">
        <input type="text" name="searchbar" value="Search Teams">
        <span class="button search-submit" onclick="search()">Search!</span> 
    </form>
</div>
<div id="search-results" class="results">
    {{#each team}}
        {{> single-team}}
    {{/each}}
</div>


<div class="team-forms">
    <div id="team-insert-container">
        <h3>New Team!</h3>
        <div id="team-insert-error"></div>
        <form class="insert-form" id="team-insert">
            <label>Team Name</label>
            <input type="text" name="team-name" value="Corvallis Coders">
            <label>City</label>
            <input type="text" name="team-loc" value="Corvallis, OR">
            <label>Color Code</label>
            <input type="text" name="team-color" value="3f3f3f">
            <label>Coach Name</label>
            <input type="text" name="coach-name" value="Tommy Winston">
            <label>First Player</label>
            <select id="free-agent-selector" name="team-player-id">
                {{! I was going to do this via handlebars, but decided with ClientJS instead.}}
            </select>
        </form>
        <span class="button insert-submit" onclick="insertTeam()">Insert New Team!</span>
    </div>
    <hr />
    <div>
        <h3>New Coach Name!</h3>
        <p id="user-instruction"> Enter a name then click team's coach to update it!</p>
        <form class="update-form" id="team-up-coach">
            <input type="text" name="coach-name" value="...">
        </form>
        
    </div>
</div>

