<!-- Or you can use the src directory -->
<!-- <script src="src/game_script.js" defer></script> --> 
<script src="team_script.js" defer></script>

<div>
    <form id="team-search" onsubmit="search()" onsearch="search()">
        <input type="text" name="searchbar" value="Search Teams">
        <span class="button search-submit" onclick="search()">Search!</span> 
    </form>
</div>
<div id="search-results" class="results">
    {{#each team}}
        {{> single-team}}
    {{/each}}
</div>


<div class="team-forms">
    <div>
        <h3>New Team!</h3>
        <form id="team-insert">
            <label>Team Name</label>
            <input type="text" name="team-name" value="Cavaliers">
            <label>City</label>
            <input type="text" name="team-loc" value="Boston, MA">
            <label>Color Code</label>
            <input type="text" name="team-color" value="#33f3f">
            <label>Coach Name</label>
            <input type="text" name="coach-name" value="Tommy Winston">
        </form>
        <span class="button insert-submit" onclick="insertTeam()">Submit!</span>
    </div>
    <div>
        <h3>New Coach Name!</h3>
        <form id="team-up-coach">
            <input type="text" name="coach-name" value="...">
        </form>
        <p> Click on a Coach's Name to update it!</p>
    </div>
</div>

