<!-- Or you can use the src directory -->
<!-- <script src="src/game_script.js" defer></script> --> 
<script src="team_script.js" defer></script>

<div>
    <form id="team-search" onsubmit="search()" onsearch="search()">
        <input type="text" name="searchbar" value="Search Teams">
        <span class="button search-submit" onclick="search()">Search!</span> 
    </form>
</div>
<div id="search-results" class="results row">
    {{#each team}}
        {{> single-team}}
    {{/each}}
</div>
<div class="hidden">
    <h2>New Team!</h2>
    <form>
        <label>Team Name</label>
        <input type="text" name="team-name" value="Cavaliers">
        <label>City</label>
        <input type="text" name="team-location" value="Boston">
        <label>Color Code</label>
        <input type="text" name="team-color" value="#3f3f3f">
        <label>Player List</label>
        <input type="text" name="team-players" value="Shaquille O'Neal, Tony Battie, ...">
    </form>
</div>
<div>
    <h3>Update Coach Name</h3>
    <form>
        <label>New Coach Name</label>
        <input type="text" name="coach-name" value="Tommy Winston">
    </form>
</div>